<div class="flex justify-center mt-3">
    <img src="https://i.ibb.co.com/dsBfczN3/tf-logo-3.png" alt="logo" loading="lazy" width="240px"> 
</div>
<div class="text-center mt-6">
    <p class="text-slate-400 md:text-sm text-xs">Jelajahi Tokyo Finds untuk setiap momen belanja Merchandise khilafmu asli dari Jepang!</p>
</div>