<div class="">
    <!-- <div class="h-[200px] w-full bg-indigo-100 absolute z-[-1] top-0 right-0 left-0"></div> -->
    <div class="flex">
        <div class="sidebar_left w-[80px] h-[100vh] bg-indigo-400 sticky left-0 top-0">
            <div class="">
                <div class="navbar_brand mt-4">
                    <a href="/" class="flex justify-center">
                        <img src="https://i.ibb.co.com/7NYLLkNn/tf-logo-2.png" alt="logo" width="70%">
                    </a>
                </div>
                <div class="sidebar-list mt-12">
                    <div class="flex justify-center">
                        <a href="" class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_right w-full">
            <div class="p-6">
                <!-- <div class="navbar w-full h-[50px] bg-slate-50 shadow rounded-full">
                    
                </div> -->
                <div class="flex gap-8">
                    <div class="w-[75%]">
                        <a href="">
                            <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[100%] h-[400px] rounded-lg">
                        </a>
                    </div>
                    <div class="w-[25%]">
                        <a href="">
                            <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[100%] rounded-lg">
                        </a>
                        <a href="">
                            <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[100%] rounded-lg">
                        </a>
                    </div>
                </div>

                <div class="content mt-10">
                    <!-- <div class="banner-carousel flex justify-evenly">
                        <a href="">
                            <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[320px] rounded-lg">
                        </a>
                        <a href="">
                            <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[320px] rounded-lg">
                        </a>
                        <a href="">
                            <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[320px] rounded-lg">
                        </a>
                    </div> -->
                    <div class="categories flex justify-center gap-7">
                        <a href="" class="text-center inline-block w-[110px] h-[110px] hover:text-white hover:scale-[1.2] hover:m-[10px] hover:bg-indigo-400 border-2 border-indigo-500 rounded-lg">
                            <p class="text-sm">Scaled Figure</p>
                        </a>
                        <a href="" class="text-center inline-block w-[110px] h-[110px] hover:text-white hover:scale-[1.2] hover:m-[10px] hover:bg-indigo-400 border-2 border-indigo-500 rounded-lg">
                            <p class="text-sm">Scaled Figure</p>
                        </a>
                        <a href="" class="text-center inline-block w-[110px] h-[110px] hover:text-white hover:scale-[1.2] hover:m-[10px] hover:bg-indigo-400 border-2 border-indigo-500 rounded-lg">
                            <p class="text-sm">Scaled Figure</p>
                        </a>
                        <a href="" class="text-center inline-block w-[110px] h-[110px] hover:text-white hover:scale-[1.2] hover:m-[10px] hover:bg-indigo-400 border-2 border-indigo-500 rounded-lg">
                            <p class="text-sm">Scaled Figure</p>
                        </a>
                        <a href="" class="text-center inline-block w-[110px] h-[110px] hover:text-white hover:scale-[1.2] hover:m-[10px] hover:bg-indigo-400 border-2 border-indigo-500 rounded-lg">
                            <p class="text-sm">Scaled Figure</p>
                        </a>
                        <a href="" class="text-center inline-block w-[110px] h-[110px] hover:text-white hover:scale-[1.2] hover:m-[10px] hover:bg-indigo-400 border-2 border-indigo-500 rounded-lg">
                            <p class="text-sm">Scaled Figure</p>
                        </a>
                    </div>
                </div>

            </div>
    
        </div>
    </div>
</div>