<div class="">
    <!-- <div class="h-[200px] w-full bg-indigo-100 absolute z-[-1] top-0 right-0 left-0"></div> -->
    <div class="flex">
        <div class="sidebar_left w-[80px] h-[100vh] bg-indigo-400">
    
        </div>
        <div class="content_right w-full">
            <div class="p-6">
                <div class="navbar w-full h-[50px] bg-slate-50 shadow rounded-full">
                    
                </div>
                <div class="content mt-10">
                    <div class="banner-carousel flex justify-evenly">
                        <a href="">
                            <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[320px] rounded-lg">
                        </a>
                        <a href="">
                            <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[320px] rounded-lg">
                        </a>
                        <a href="">
                            <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[320px] rounded-lg">
                        </a>
                    </div>
          
                </div>
            </div>
    
        </div>
    </div>
</div>