<div class="">
        <!-- <div class="navbar w-full h-[50px] bg-slate-50 shadow rounded-full">
            
        </div> -->
    <div class="flex gap-8">
        <div class="w-[75%]">
            <a href="">
                <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[100%] h-[400px] rounded-lg">
            </a>
        </div>
        <div class="w-[25%]">
            <a href="">
                <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[100%] rounded-lg">
            </a>
            <a href="">
                <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[100%] rounded-lg">
            </a>
        </div>
    </div>

    <div class="content mt-10">
        <!-- <div class="banner-carousel flex justify-evenly">
            <a href="">
                <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[320px] rounded-lg">
            </a>
            <a href="">
                <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[320px] rounded-lg">
            </a>
            <a href="">
                <img src="https://cdn.kyou.id/jumbotron/811-c1a7f7bf-05a2-49af-93d7-cc90ee27cba3.jpg.webp" alt="image jumbotron" loading="lazy" class="w-[320px] rounded-lg">
            </a>
        </div> -->
        <div class="categories flex justify-center gap-7">
            <a href="" class="text-center inline-block w-[110px] h-[110px] hover:text-white hover:scale-[1.2] hover:m-[10px] hover:bg-indigo-400 border-2 border-indigo-500 rounded-lg">
                <p class="text-sm">Scaled Figure</p>
            </a>
            <a href="" class="text-center inline-block w-[110px] h-[110px] hover:text-white hover:scale-[1.2] hover:m-[10px] hover:bg-indigo-400 border-2 border-indigo-500 rounded-lg">
                <p class="text-sm">Scaled Figure</p>
            </a>
            <a href="" class="text-center inline-block w-[110px] h-[110px] hover:text-white hover:scale-[1.2] hover:m-[10px] hover:bg-indigo-400 border-2 border-indigo-500 rounded-lg">
                <p class="text-sm">Scaled Figure</p>
            </a>
            <a href="" class="text-center inline-block w-[110px] h-[110px] hover:text-white hover:scale-[1.2] hover:m-[10px] hover:bg-indigo-400 border-2 border-indigo-500 rounded-lg">
                <p class="text-sm">Scaled Figure</p>
            </a>
            <a href="" class="text-center inline-block w-[110px] h-[110px] hover:text-white hover:scale-[1.2] hover:m-[10px] hover:bg-indigo-400 border-2 border-indigo-500 rounded-lg">
                <p class="text-sm">Scaled Figure</p>
            </a>
            <a href="" class="text-center inline-block w-[110px] h-[110px] hover:text-white hover:scale-[1.2] hover:m-[10px] hover:bg-indigo-400 border-2 border-indigo-500 rounded-lg">
                <p class="text-sm">Scaled Figure</p>
            </a>
        </div>
    </div>
</div>