<div class="">
    <div class="flex gap-5 w-full">
        <div class="bg-indigo-700/70 backdrop-blur-sm w-[50%] h-[200px] rounded-lg">
            
        </div>
        <div class="bg-indigo-700/70 backdrop-blur-sm w-[50%] h-[200px] rounded-lg">
            
        </div>
    </div>
</div>
