<div class="grid grid-cols-12 gap-5 w-full">
    <div class="col-span-9">
        <h1 class="text-[22px] text-slate-700 font-semibold">Brand List</h1>
        <div class="mt-5">
            <h1 class="font-medium text-slate-500">New Brands</h1>
            <table class="w-full mt-4 shadow">
                <thead class="bg-slate-200 rounded-t-lg h-[45px]">
                    <th class="font-medium text-sm text-slate-800">NO</th>
                    <th class="font-medium text-sm text-slate-800">NAMA</th>
                    <th class="font-medium text-sm text-slate-800">AKSI</th>
                </thead>
                <tbody class="bg-white">
                    <% @brands.each_with_index do |brand, index| %>
                        <tr class="border-b border-slate-200">
                            <td class="p-4 text-sm text-slate-700 font-medium text-center"><%= index+1 %></td>
                            <td class="p-4 text-sm text-slate-700 font-medium text-center"><%= brand.name %></td>
                            <td class="p-4 text-sm text-slate-700 font-medium text-center">
                                
                            </td>
                        </tr>
                    <% end %>
                 
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-span-3">
        <div class="bg-gradient-to-br from-indigo-400 to-indigo-600 w-full rounded-lg p-4">
            <div class="w-full">
                <div class="mb-4">
                    <h1 class="font-medium text-white/90 tracking-wide mb-2">Total Brand</h1>
                    <h1 class="text-4xl text-white font-bold">430</h1>
                    <div class="mt-2">
                        <p class="text-xs text-white/60">7 hari terakhir</p>
                        <p class="text-white/90 text-xs font-semibold">+20</p>
                    </div>
                </div>
                <a href="/app/brands/new" data-turbo="false" class="w-full block backdrop-blur-xl font-medium bg-white/30 py-2 rounded-lg text-white text-sm text-center">
                    New Brands
                </a>
            </div>
        </div>
    </div>
</div>
